<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

# show the comments about post
<h2>Comments</h2>
<div id="comments">
	<!--Refactorizamos eliminado codigo repetido en _comment.html.erb
	Hacemos que los comentarios se muestren en orden reverse -->
	<%= render :partial => @post.comments.reverse %>
</div>


# insert a new comment
<!-- mediante remote: true activamos la opcion de uso de AJAX-->
<%= form_for([@post, Comment.new], remote: true) do |f| %>
	<p><%= f.label :body, "New Comment" %><br />
	   <%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
